@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 <!-- Navigation -->
 <nav class="navbar">
     <div class="nav-container">
         <div class="nav-logo">
             <h2> THE HANIE HAEKINS  WEBSITE</h2>
         </div>
         <ul class="nav-menu">
             <li class="nav-item">
                 <a href="index.html" class="nav-link active">Home</a>
             </li>
             <li class="nav-item">
                 <a href="shop.html" class="nav-link">Shop</a>
             </li>
             <li class="nav-item">
                 <a href="about.html" class="nav-link">About</a>
             </li>
             <li class="nav-item">
                 <a href="gallery.html" class="nav-link">Gallery</a>
             </li>
             <li class="nav-item">
                 <a href="contact.html" class="nav-link">Contact</a>
             </li>
         </ul>